li.given {
    background-color: yellow;
}

li.received {
    background-color: green;
}

p.red {
    color: red;
}

p.green {
    color: green;
}

.opaque-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.receive-modal {
    background: white;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}
